version: '3.8'

services:
  screen-app:
    image: ghcr.io/arturia169/zero3-tftscreen:main
    build: .
    container_name: orangepi-screen
    restart: always
    privileged: true
    devices:
      - "/dev/spidev1.0:/dev/spidev1.0"
      - "/dev/mem:/dev/mem"
      - "/dev/gpiomem:/dev/gpiomem"
    volumes:
      - /tmp:/tmp
    network_mode: host
    environment:
      - TZ=Asia/Shanghai
      - http_proxy=http://192.168.5.100:7890
      - https_proxy=http://192.168.5.100:7890
      - no_proxy=localhost,127.0.0.1
